# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual env
.env/
.venv/
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/*.parquet
data/processed/*.csv

# OS
.DS_Store
Thumbs.db
